<!-- starts header -->
  <div class="container">
    <div class="row">
      <app-logo></app-logo>
      <div class="col-sm-9">
      <div class="float-right">
        <div *ngIf="isAuthenticated; then showLogIn; else showLogOut;"></div>
        <ng-template #showLogIn>
          <app-user-log-in></app-user-log-in>
        </ng-template>
        <ng-template #showLogOut>
          <app-user-log-off></app-user-log-off>
        </ng-template>
      </div>
    </div>
    </div>
  </div>
<!-- ends header-->
