<app-loader></app-loader>
<!-- starts  markup -->
<header class="header">
  <app-header></app-header>
</header>
<div class="container">
  <main>
    <div class="container">
      <div class="row">
        <app-breadcrumbs *ngIf="IsAuth()"></app-breadcrumbs>
      </div>
      <div class="row">
        <div class="col-sm-12 no-gutters">
          <app-toolbox (searchText)="onSearchTextChanged($event)" (addCourse)="onAddCourse()"></app-toolbox>
        </div>
      </div>
    </div>
    <app-courses-page [searchText]="searchText" [isSearchAvailable]="searchText?.length > 0"></app-courses-page>
    <app-user></app-user>
  </main>
</div>
<footer class="footer">
  <app-footer *ngIf="IsAuth()"></app-footer>
</footer>
<!--ends  markup -->
