<?xml version="1.0"?>
<configuration>
	<!-- Configuration sections -->
	<system.web>
		<httpCookies httpOnlyCookies="true" requireSSL="false"/>
		<httpRuntime maxRequestLength="10240" executionTimeout="600" requestValidationMode="2.0"/>
    		<machineKey validationKey="91441DDD052A787557D739D0F429A584D67FFA635981BBEEC0AEE5FFF9F90F07F41E05BA96C80B44AFDACAC179ABB347E8D8FF2C0F92D2C79175C56EA20A5B6B" decryptionKey="D89E3FCADC98EDA1F732EF17E4BB8AB9BDB5742804C5D357" validation="SHA1"/>

		<compilation defaultLanguage="c#" debug="true" batch="false" targetFramework="4.0">
		</compilation>
		<!--  CUSTOM ERROR MESSAGES?
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
        -->
		<customErrors mode="RemoteOnly">
			<error statusCode="404" redirect="~/Error404.aspx"/>
		</customErrors>
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
        -->
		<authentication mode="None"/>

		<identity impersonate="false"/>

		<authorization>
			<allow users="*"/>
		</authorization>

		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false"/>

		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>

	</system.web>
	<appSettings>
	</appSettings>
	<system.webServer>
  </system.webServer>
</configuration>
