<script src="app.component.ts"></script>
<!-- starts  markup -->
<header class="header">
  <app-header></app-header>
</header>
<div class="container">
  <main>
    <app-breadcrumbs></app-breadcrumbs>
    <div class="container">
      <div class="row">
        <div class="col-sm-10 no-gutters">
          <app-search></app-search>
        </div>
        <div class="float-right">
          <button class="btn"><i class="fa fa-plus" aria-hidden="true"></i> Add course</button>
        </div>
      </div>
    </div>
    <app-courses-list></app-courses-list>
  </main>
</div>
<footer class="footer">
  <app-footer></app-footer>
</footer>
<!--ends  markup -->
