<!-- starts course-list-item -->
<li class="list__item">
  <div class="list__block">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>{{listItem.title}}</h3>
      </div>
      <div class="col-md-4 col-sm-12">
        <time class="time">{{listItem.duration}}</time>
        <span class="date">{{listItem.createDate}}</span>
      </div>
      <div class="col-md-2 col-sm-12">
        <button class="btn btn-full"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Edit</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <p>{{listItem.description}}</p>
      </div>
      <div class="col-md-2 col-sm-12">
        <button class="btn btn-full"><i class="fa fa-trash" aria-hidden="true"></i>  Delete</button>
      </div>
    </div>
  </div>
</li>
<!-- starts course-list-item -->
