<!-- starts course-list-item -->
<div class="list__item">
  <div class="list__block" appBorderHighlight={{creationDate}}>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h5> <a routerLink="/edit-page/{{listItem.id}}/state">{{listItem.title | uppercase }}{{listItem.id}} | <span [hidden]="!listItem.topRated" [ngClass]="'ico-bg'"></span></a></h5>
      </div>
      <div class="col-md-4 col-sm-12">
        <time class="time">{{listItem.duration  | myTime}}</time>
        <span class="date">{{listItem.createDate | date:"dd.MM.yyyy"}}</span>
      </div>
      <div class="col-md-2 col-sm-12">
        <button (click)="goToEditPage($event)" class="btn btn-full"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-sm-12">
        <p>{{listItem.description}}</p>
      </div>
      <div class="col-md-2 col-sm-12">
        <button class="btn btn-full" (click)="onDelete($event)"><i class="fa fa-trash" aria-hidden="true"></i>  Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- starts course-list-item -->
