<div *ngIf='listItems && listItems.length >0'>
  <!-- starts course-list -->
  <div class="row">
    <!-- starts course-list-item -->
    <div class="list">
      <app-courses-list [listItems]="listItems"
                        (deleteCourse)="onDeleteCourse($event)">
      </app-courses-list>
      <!-- TODO: создать метод в классе, а тут использовать его. -->
      <button class="btn btn-full btn-secondary" (click)="onLoadMore()" [disabled]="isSearchAvailable"><i class="fa fa-download" aria-hidden="true"></i> {{text}}{{pageData.nextPage}}</button>
  </div>
  <!-- ends course-list -->
</div>

<div *ngIf='listItems == undefined || listItems.length == 0'>
  <div class="row">
    <div class="alert col-sm-12">NO DATA. FEEL FREE TO ADD A NEW COURSE</div>
  </div>
</div>



