/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~font-awesome/css/font-awesome.css";

.body {
  background: #f4faff;
  color:#4f646f;
}

.no-gutters {
  padding-left: 0;
  padding-right: 0;
  margin-left: -15px;
  margin-right: -15px;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  border: 1px solid #b7adcf;
  padding: 15px;
}

header,
footer{
  padding: 20px;
}

.header {
  width: 100%;
  margin: 0 0 30px;
  background: #b7adcf;
}

.breadcrumb {
  background: none;
}

.footer {
  width: 100%;
  margin: 30px 0 0;
  background: #535657;
  color: #f4faff;
}

.btn {
  background: #4f646f;
  color: #f4faff;
  margin-bottom: 5px;
}

.btn-full {
  width: 100%;
}

.btn-secondary {
  background: #535657;
}

.list {
  margin: 30px 0;
  padding: 0;
  list-style: none;
}

.list__item {
  width: 100%;
  margin: 0 0 10px;
}

.list__block {
  padding: 30px 20px 10px;
  border: 1px solid #b7adcf;
  border-radius: 3px;
  color: #4f646f;
}

.form-search {
  display: inline;
}

.form-search__input {
  width: 67%;
  padding: 5px 5px 5px 10px;
  margin-right: 10px;
}

.breadcrumb {
  padding: 20px 0;
}

.login {
  margin-right: 15px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .float-right {
    float:none !important;
  }
  
  .btn-add {
    width: 100%;
  }
}
