.body {
  background: #f4faff;
  color:#4f646f;
}

.no-gutters {
  padding-left: 0;
  padding-right: 0;
  margin-left: -15px;
  margin-right: -15px;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  border: 1px solid #b7adcf;
  padding: 15px;
}

header,
footer{
  padding: 20px;
}

.header {
  width: 100%;
  margin: 0 0 30px;
  background: #b7adcf;
}

.breadcrumb {
  background: none;
}

.footer {
  width: 100%;
  margin: 30px 0 0;
  background: #535657;
  color: #f4faff;
}

.btn {
  background: #4f646f;
  color: #f4faff;
  margin-bottom: 5px;
}

.btn-full {
  width: 100%;
}

.btn-secondary {
  background: #535657;
}

.btn-group > .btn {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  margin-right: 15px;
}

.list {
  margin: 30px 0;
  padding: 0;
  list-style: none;
}

.list__item {
  width: 100%;
  margin: 0 0 10px;
}

.list__block {
  padding: 30px 20px 10px;
  border: 1px solid #b7adcf;
  border-radius: 3px;
  color: #4f646f;
}

.form-search {
  display: inline;
}

.form-search__input {
  width: 67%;
  padding: 5px 5px 5px 10px;
  margin-right: 10px;
}

.breadcrumb {
  padding: 20px 0;
}

.login {
  margin-right: 15px;
  color: white;
}

.login:hover {
  color: #535657;
}

.time {
  margin-right: 15px;
}

.alert {
  width: 100%;
  background: #cb2e8e;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.ico-bg {
  position:relative;
  color: #cb2e8e;
}

.ico-bg:before {
  position:absolute;
  font-family: FontAwesome;
  content: "\f005";
  left: 5px;
  top: 5px;
}

.login-form,
.add-course-form {
  padding: 30px;
  color: #4f646f;
}

.add-course-form label {
  display: block;
}

.date,
.duration {
  width: 30%;
}

.duration {
  display: inline-block;
}
.time {
  display: inline-block;
  margin-left: 15px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
  border-color: #ddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #b7adcf;
  border-color: #b7adcf;
}

.panel-body {
  padding: 15px;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.outer-inner {
  display: table-cell;
  vertical-align: middle;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}

.error-actions .btn {
  margin-right:10px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .float-right {
    float:none !important;
  }
  
  .btn-add {
    width: 100%;
  }
}
