BODY
{
    FONT-WEIGHT: normal;
    MARGIN: 0px;
    COLOR: #000000;
    FONT-FAMILY: arial, verdana;
    BACKGROUND-COLOR: #ffffff
}
TD
{
    FONT-WEIGHT: normal;
    COLOR: #000000;
    FONT-FAMILY: arial, verdana
}
DIV
{
    FONT-WEIGHT: normal;
    COLOR: #000000;
    FONT-FAMILY: arial, verdana
}
A
{
    COLOR: #000000;
    FONT-FAMILY: arial
}
A:visited
{
    COLOR: #000000;
    FONT-FAMILY: arial
}
A:active
{
    COLOR: #000000;
    FONT-FAMILY: arial
}
A:hover
{
    COLOR: #000000;
    FONT-FAMILY: arial
}
B
{
    FONT-WEIGHT: bold;
    FONT-FAMILY: verdana
}
.tableSpacer
{
    BACKGROUND-COLOR: #ffffff
}
.headerCell
{
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BACKGROUND-COLOR: #99cccc
}
.resultsTable
{
    BACKGROUND-COLOR: #000000
}
.resultsRowA
{
    BACKGROUND-COLOR: #ffffff
}
.resultsRowB
{
    BACKGROUND-COLOR: #e6e6e6
}
.resultsRowC
{
    BACKGROUND-COLOR: #ffffff
}
.resultsRowD
{
    BACKGROUND-COLOR: #ffff00
}
.headerCellB
{
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    BACKGROUND-COLOR: darkgray
}
.txtBold
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
A.txtBold:visited
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
A.txtBold:hover
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
A.txtBold:active
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
.txtRegular
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
A.txtRegular
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial
}
.fastfind
{
    BACKGROUND-COLOR: #99cccc
}
.currentTab
{
    BACKGROUND-COLOR: #cccccc
}
.topWelcomeArea
{
    COLOR: #ffffff;
    HEIGHT: 28px;
    BACKGROUND-COLOR: #3366cc
}
.legalFooter
{
    BACKGROUND-COLOR: #3366cc
}
.txtRed
{
    FONT-SIZE: 10px;
    COLOR: red
}
.txtHeading
{
    COLOR: white;
    FONT-FAMILY: Verdana, Arial
}
