BODY
{
    FONT-SIZE: 10px
}
TD
{
    FONT-SIZE: 10px
}
DIV
{
    FONT-SIZE: 10px
}
A
{
    FONT-SIZE: 10px
}
A:visited
{
    FONT-SIZE: 10px
}
A:active
{
    FONT-SIZE: 10px
}
A:hover
{
    FONT-SIZE: 10px
}
A.selectTab
{
    FONT-SIZE: 10px
}
A.selectTab:visited
{
    FONT-SIZE: 10px
}
A.selectTab:active
{
    FONT-SIZE: 10px
}
A.selectTab:hover
{
    FONT-SIZE: 10px
}
.activeTopicCaption
{
    FONT-FAMILY: Verdana, Arial;
    BACKGROUND-COLOR: #99cccc
}
TD.menuLevel0_left
{
    border-left:1x outset #333333;
    border-top:1x outset #333333;
    border-bottom:1x outset #333333;
	BACKGROUND-COLOR:#99CCCC;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel0_center
{
    border-top:1x outset #333333;
    border-bottom:1x outset #333333;
	BACKGROUND-COLOR:#99CCCC;	
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel0_center:hover
{
    border-top:1x outset #333333;
    border-bottom:1x outset #333333;
	BACKGROUND-COLOR:#FFFFFF;	
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel0_right{
    border-top:1x outset #333333;
    border-bottom:1x outset #333333;
    border-right:1x outset #333333;
	BACKGROUND-COLOR:#99CCCC;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel0
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel0:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel0:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel1_left
{
    border-top:1x outset #333333;
    border-bottom:1x outset #333333;
    border-left:1x outset #333333;
    BACKGROUND-COLOR:#B4B4B4;
    WIDTH:12px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel1_center
{
    border-top:1x outset #333333;
    border-bottom:1x outset #333333;
	BACKGROUND-COLOR:#B4B4B4;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menu_underline
{
    background: #FFFFFF;
    text-decoration: underline;
}
TD.menuLevel1_right
{
    border-top:1x outset #333333;
    border-bottom:1x outset #333333;
    border-right:1x outset #333333;
    BACKGROUND-COLOR:#B4B4B4;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel1:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel1:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel2_left
{
    border-top:1x outset #999999;
    border-bottom:1x outset #999999;
    border-left:1x outset #999999;
    BACKGROUND-COLOR:#E5E5E5;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel2_center
{
    border-top:1x outset #999999;
    border-bottom:1x outset #999999;
	BACKGROUND-COLOR:#E5E5E5;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel2_right
{
    border-top:1x outset #999999;
    border-bottom:1x outset #999999;
    border-right:1x outset #999999;
    BACKGROUND-COLOR:#E5E5E5;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel2:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel2:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel3_left
{
    border-top:1x outset #999999;
    border-bottom:1x outset #999999;
    border-left:1x outset #999999;
    BACKGROUND-COLOR:#E5E5E5;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel3_center
{
    border-top:1x outset #999999;
    border-bottom:1x outset #999999;
	BACKGROUND-COLOR:#E5E5E5;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
TD.menuLevel3_right
{
    border-top:1x outset #999999;
    border-bottom:1x outset #999999;
    border-right:1x outset #999999;
    BACKGROUND-COLOR:#E5E5E5;
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel3
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel3:visited
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}
A.menuLinkLevel3:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: arial
}

.menuLevel0_top
{
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    WIDTH: 148px;
    COLOR: #000000;
    LINE-HEIGHT: 2
}
.menuLevel1_top
{
    BACKGROUND-COLOR:#B4B4B4;
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    WIDTH: 148px;
    COLOR: #000000;
    LINE-HEIGHT: 2
}
.menuLevel2_top
{
    BACKGROUND-COLOR:#E5E5E5;
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    WIDTH: 148px;
    COLOR: #000000;
    LINE-HEIGHT: 2
}
.menuLevel3_top
{
    BACKGROUND-COLOR:#E5E5E5;
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    WIDTH: 148px;
    COLOR: #000000;
    LINE-HEIGHT: 2
}

TD.brandingFooterDefault
{
    FONT-SIZE: 10px;
    COLOR: #ffffff
}
A.brandingFooterDefault:link
{
    FONT-SIZE: 10px;
    COLOR: #ffffff
}
A.brandingFooterDefault:visited
{
    FONT-SIZE: 10px;
    COLOR: #ffffff
}
