.captionStyle{	
	font:bold 12px arial;
}

.buttonStyle{
	font-size:7pt;
	font-weight:bold;
	width:75px;
}

.longButtonStyle{
	font-size:7pt;
	font-weight:bold;
}

.dmosButtonStyle{
	font-size:7pt;
	font-weight:bold;
	width:125px;
}

.multipleSelectStyle{
	width:175px;
	height:200px;
}

.cellBorderStyle{
	background-color:#6633CC;	
}

.tableBorderClass{
	background-color:#000000;	
}

.tableHeaderClass{
	font-weight:bold;
	background-color:#C2C2C2;
}

.modalUserDivStyle{
	border:2 double black;
	width:95.5%;
	height:80%;
}

.modalGroupDivStyle{
	border: 2 double black;
	/*width:97.5%;
	height:80%;*/
	width:98%;
	height:90%;
}

.modalHeaderTable{
	background-color:#B2B2B2;
	/*width:102.6%;*/
}

.modalBodyTable{
	font:normal 8pt verdana,arial,helvetica,sans-serif;
}

.modalFooterTable{
	background-color:#E2E2E2;
	width:102.6%;
}

.groupBusinessTypeSelectStyle{
	width:200px;
}
.userBusinessTypeSelectStyle{
	width:200px;
	height:60px;
}

.singleSelect{
	width:200px;
}

.optionNoneSelectedStyle{
	background-color:#C2C2C2;
	color:#6633CC;
}

.tvcMainTable{
	z-index:6;
	/*background-color:yellow;*/
	cellpadding:3;
	callspacing:0;
	width:350;
}
.tvcChildTable{
	background-color:yellow;
	width=75%;
}

.inlineUserDivStyle{
	border:2 double black;
	width:70%;
	height:80%;
}
.inlineFooterTable{
	background-color:#E2E2E2;
	width:100%;
}