
.lNavBarActive
{
}
.lNavBarHighlight
{
    FONT-WEIGHT: bold;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: verdana
}
.lNavBarInactive
{
    FONT-WEIGHT: bold;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: verdana
}
.lNavItemHighlight
{
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    COLOR: #000000;
    FONT-FAMILY: arial
}
.lNavItemActive
{
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    COLOR: #333399;
    FONT-FAMILY: arial
}
.lNavItemInactive
{
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    COLOR: #000000;
    FONT-FAMILY: arial
}
.lNavItemSpacer
{
}
#indent13px
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 13px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px
}
#indent18px
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 18px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px
}
#indent23px
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 23px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px
}
#indent28px
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 28px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px
}
#indent33px
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 33px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px
}
.findBox
{
    FONT-WEIGHT: bold;
    BACKGROUND-IMAGE: url(../images/find_bg.gif);
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    FONT-FAMILY: arial
}
.findInset
{
    BACKGROUND-IMAGE: url(../images/find_inset.gif)
}

.boldWhiteText
{
    FONT-SIZE: 9px
}
A.boldWhiteText
{
    FONT-SIZE: 9px
}
A.boldWhiteText:visited
{
    FONT-SIZE: 9px
}
A.boldWhiteText:active
{
    FONT-SIZE: 9px
}

TD.menuLevel0_left {
    WIDTH:12px
}
TD.menuLevel0_center {
    WIDTH:115px
}
TD.menuLevel0_right {
    WIDTH:12px
}

TD.menuLevel1_left {
    WIDTH:12px
}
TD.menuLevel1_center {
	WIDTH:90px
}
TD.menuLevel1_right {
    WIDTH:9px
}
TD.menuLevel2_left {
    WIDTH:17px
}
TD.menuLevel2_center {
	WIDTH:112px
}
TD.menuLevel2_right {
    WIDTH:17px
}
TD.menuLevel3_left {
    WIDTH:27px
}
TD.menuLevel3_center {
	WIDTH:104px
}
TD.menuLevel3_right {
    WIDTH:17px
}

A.menuLinkLevel0
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: none
}
A.menuLinkLevel0:visited
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: none
}
A.menuLinkLevel0:hover
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: underline
}
A.menuLinkLevel1
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: none
}
A.menuLinkLevel1:visited
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: none
}
A.menuLinkLevel1:hover
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: underline
}
A.menuLinkLevel2
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: none
}
A.menuLinkLevel2:visited
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: none
}
A.menuLinkLevel2:hover
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: underline
}
A.menuLinkLevel3
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: none
}
A.menuLinkLevel3:visited
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: none
}
A.menuLinkLevel3:hover
{
    VERTICAL-ALIGN: bottom;
    TEXT-DECORATION: underline
}
.menuLevel0_bottom
{
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    WIDTH: 148px;
    COLOR: #000000;
    LINE-HEIGHT: 2
}
.menuLevel1_bottom
{
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    WIDTH: 148px;
    COLOR: #000000;
    LINE-HEIGHT: 2
}
.menuLevel2_bottom
{
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    WIDTH: 148px;
    COLOR: #000000;
    LINE-HEIGHT: 2x
}
.menuLevel3_bottom
{
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: middle;
    WIDTH: 148px;
    COLOR: #000000;
    LINE-HEIGHT: 1
}
.menuSpacer
{
    LINE-HEIGHT: 1
}
