/***          Start from stylens.css       ***/

SELECT {
	FONT-SIZE:10px;
}

INPUT {
	FONT-SIZE:10px;
}

/***          Start from idealns.css       ***/

/***          End from idealns.css       ***/


/***          Start from stylens.css       ***/

/***          Leftnav Bar(Shade) Classes        ***/
.lNavBarHighlight {
    font-weight: bold;
    background-image: url(../images/bar_active.gif);
    vertical-align: middle;
    color: #ffffff;
    font-family: verdana
}

.lNavBarActive {
    background-image: url(../images/shadebar_active.gif)
}


.lNavBarInactive {
    font-weight: bold;
    background-image: url(../images/bar_inactive.gif);
    vertical-align: middle;
    color: #ffffff;
    font-family: verdana
}


/***          Leftnav Menu Item Classes        ***/
.lNavItemHighlight
{
    font-weight: normal;
    background-image: url(../images/shade_highlight.gif);
    vertical-align: middle;
    color: #000000;
    font-family: arial;
}
.lNavItemActive {
    font-weight: normal;
    background-image: url(../images/shadesection_active.gif);
    vertical-align: middle;
    color: #333399;
    font-family: arial;
}

.lNavItemInactive {
    font-weight: normal;
    background-image: url(../images/shadesection_inactive.gif);
    vertical-align: middle;
    color: #000000;
    font-family: arial;
    padding: 1 0 1 13;
}

.lNavItemSpacer { background-image: url(../images/menu_separator.gif) }


/***          Indentation Selectors        ***/
#indent13px { padding: 1 0 1 13; }
#indent18px { padding: 1 0 1 18; }
#indent23px { padding: 1 0 1 23; }
#indent28px { padding: 1 0 1 28; }
#indent33px { padding: 1 0 1 33; }


/***   Miscellaneous Classes        ***/
.findBox {
    font-weight: bold;
    background-image: url(../images/find_bg.gif);
    vertical-align: middle;
    color: #ffffff;
    font-family: arial
}

.findInset {
    background-image: url(../images/find_inset.gif)
}



/*** Left Navigation Menu Styles ***/

td.menuLevel0_left {
    background-image: url('../images/menuLevel0_left.gif');
	background-repeat: repeat; }
	
td.menuLevel0_center {
	background-repeat: repeat; }
	
td.menuLevel0_right {
	background-image: url('../images/menuLevel0_right.gif');
	background-repeat: repeat; }
	
A.menuLinkLevel0 {
	vertical-align: bottom;
	text-decoration: none;
}
	
A.menuLinkLevel0:visited {
	vertical-align: bottom;
	text-decoration: none;
}

A.menuLinkLevel0:hover {
	vertical-align: bottom;
	text-decoration: underline;
}

td.menuLevel1_left {
	background-image: url('../images/menuLevel1_left.gif');
	background-repeat: repeat; }
	
td.menuLevel1_center {
	background-repeat: repeat; }
	
td.menuLevel1_right {
	background-image: url('../images/menuLevel1_right.gif');
	background-repeat: repeat; }
	
A.menuLinkLevel1 {
	vertical-align: bottom;
	text-decoration: none;
}

A.menuLinkLevel1:visited {
	vertical-align: bottom;
	text-decoration: none;
}
	
A.menuLinkLevel1:hover {
	vertical-align: bottom;
	text-decoration: underline;
}

td.menuLevel2_left {
	background-image: url('../images/menuLevel2_left.gif');
	background-repeat: repeat; }
	
td.menuLevel2_center {
	background-repeat: repeat; }
	
td.menuLevel2_right {
	background-image: url('../images/menuLevel2_right.gif');
	background-repeat: repeat; }
	
A.menuLinkLevel2 {
	vertical-align: bottom;
	text-decoration: none;
}

A.menuLinkLevel2:visited {
	vertical-align: bottom;
	text-decoration: none;
}
	
A.menuLinkLevel2:hover {
	vertical-align: bottom;
	text-decoration: underline;
}

td.menuLevel3_left {
	background-image: url('../images/menuLevel3_left.gif');
	background-repeat: repeat; }
	
td.menuLevel3_center {
	background-repeat: repeat; }
	
td.menuLevel3_right {
	background-image: url('../images/menuLevel3_right.gif');
	background-repeat: repeat; }
	
A.menuLinkLevel3 {
	vertical-align: bottom;
	text-decoration: none;
}

A.menuLinkLevel3:visited {
	vertical-align: bottom;
	text-decoration: none;
}
	
A.menuLinkLevel3:hover {
	vertical-align: bottom;
	text-decoration: underline;
}


	
/***          End from stylens.css       ***/
