BODY
{
    FONT-SIZE: 10px
}

TD
{
    FONT-SIZE: 10px
}

DIV
{
    FONT-SIZE: 10px
}

A
{
    FONT-SIZE: 10px
}

A:visited
{
    FONT-SIZE: 10px
}

A:active
{
    FONT-SIZE: 10px
}

A:hover
{
    FONT-SIZE: 10px
}


/** Active Topic Name Style in FastFind Header **/
.activeTopicCaption
{
    BACKGROUND-COLOR: #99cccc;
    font-size: 12px;
    font-weight: bold;
}

.boldWhiteText
{
    FONT-SIZE: 10px
}

A.boldWhiteText
{
    FONT-SIZE: 10px
}

A.boldWhiteText:visited
{
    FONT-SIZE: 10px
}

A.boldWhiteText:active
{
    FONT-SIZE: 10px
}


A.selectTab
{
    FONT-SIZE: 10px
}

A.selectTab:visited
{
    FONT-SIZE: 10px
}

A.selectTab:active
{
    FONT-SIZE: 10px
}

A.selectTab:hover
{
    FONT-SIZE: 10px
}

/*** Left Navigation Menu Styles ***/
/*** Changing style classes should be consistent across a menu level ***/
td.menuLevel0_left {
    BACKGROUND-COLOR:#99CCCC;
	color: #000000;
	font-family: arial;
	font-size: 9pt;
	font-weight: bold;
}
	
td.menuLevel0_center {
    BACKGROUND-COLOR:#99CCCC;
	color: #000000;
	font-family: arial;
	font-size: 9pt;
	font-weight: bold;
}
	
td.menuLevel0_right {
    BACKGROUND-COLOR:#99CCCC;
	color: #000000;
	font-family: arial;
	font-size: 9pt;
	font-weight: bold;
}
	
A.menuLinkLevel0 {
	color: #000000;
	font-family: arial;
	font-size: 9pt;
	font-weight: bold; }
	
A.menuLinkLevel0:visited {
	color: #000000;
	font-family: arial;
	font-size: 9pt;
	font-weight: bold; }

A.menuLinkLevel0:hover {
	color: #000000;
	font-family: arial;
	font-size: 9pt;
	font-weight: bold; }

td.menuLevel1_left {
    BACKGROUND-COLOR:#B4B4B4;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}
	
td.menuLevel1_center {
    BACKGROUND-COLOR:#B4B4B4;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}
	
td.menuLevel1_right {
    BACKGROUND-COLOR:#B4B4B4;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}
	
A.menuLinkLevel1 {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal; }

A.menuLinkLevel1:visited {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal; }
	
A.menuLinkLevel1:hover {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal; }

td.menuLevel2_left {
    BACKGROUND-COLOR:#E5E5E5;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}
	
td.menuLevel2_center {
    BACKGROUND-COLOR:#E5E5E5;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}
	
td.menuLevel2_right {
    BACKGROUND-COLOR:#E5E5E5;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}
	
A.menuLinkLevel2 {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal; }

A.menuLinkLevel2:visited {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal; }
	
A.menuLinkLevel2:hover {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal; }

td.menuLevel3_left {
    BACKGROUND-COLOR:#E5E5E5;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}
	
td.menuLevel3_center {
    BACKGROUND-COLOR:#E5E5E5;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}
	
td.menuLevel3_right {
    BACKGROUND-COLOR:#E5E5E5;
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal;
}
	
A.menuLinkLevel3 {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal; }

A.menuLinkLevel3:visited {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal; }
	
A.menuLinkLevel3:hover {
	color: #000000;
	font-family: arial;
	font-size: 8pt;
	font-weight: normal; }

/** Default Branding Footer Styles **/

td.brandingFooterDefault {
	font-size: 10px;
	color: #FFFFFF;
}

.brandingFooterDefault {
	font-size: 10px;
	color: #FFFFFF;
}
.brandingFooterDefault a:hover {
	font-size: 10px;
	color: #FFFFFF;
}

.brandingFooterDefault a:link {
	font-size: 10px;
	color: #FFFFFF;
}

.brandingFooterDefault a:visited {
	font-size: 10px;
	color: #FFFFFF;
}


/*added 3-17-2003*/

.dataBold
{
    FONT-SIZE: 10px
}

.dataBold A
{
    FONT-SIZE: 10px
}

.dataBold A:visited
{
    FONT-SIZE: 10px
}

.dataBold A:hover
{
    FONT-SIZE: 10px
}

.dataBold A:active
{
    FONT-SIZE: 10px
}

.txtBold
{
    FONT-SIZE: 10px
}
.txtBold A
{
    FONT-SIZE: 10px
}
.txtBold A:visited
{
    FONT-SIZE: 10px
}
.txtBold A:hover
{
    FONT-SIZE: 10px
}
.txtBold A:active
{
    FONT-SIZE: 10px
}

SELECT {
    font-size: 10px;
}

INPUT {
    font-size: 10px;
}

.userRole
{
    FONT-SIZE: 18px;
    COLOR: #000000;
}


