BODY {
	FONT-SIZE: 11px
}
TD {
	FONT-SIZE: 11px
}
DIV {
	FONT-SIZE: 11px
}
A {
	FONT-SIZE: 11px
}
SELECT {
	FONT-SIZE: 11px
}
A:visited {
	FONT-SIZE: 11px
}
A:active {
	FONT-SIZE: 11px
}
A:hover {
	FONT-SIZE: 11px
}
.phoenixMenuClass {
	menu-zIndex: 1; 
	menu-nextLevelIcon: <img src="/images/smblkarrowrt.gif" border="0" alt=""/>; 
	itemsGroup-0-backgroundColor: #003366; 
	itemsGroup-0-activeBackgroundColor: #E9E9E9; 
	itemsGroup-0-trailBackgroundColor: #E9E9E9; 
	itemsGroup-0-color: #FFFFFF; 
	itemsGroup-0-activeColor: #000000; 
	itemsGroup-0-trailColor: #000000; 
	itemsGroup-0-borderBottom: none; 
	itemsGroup-0-borderRight: 1 solid #999999; 
	itemsGroup-0-borderLeft: none; 
	itemsGroup-0-paddingTop: 4px; 
	itemsGroup-0-paddingBottom: 5px; 
	itemsGroup-0-fontWeight: bold; 
	itemsGroup-0-fontSize: 11px; 
	itemsGroup-0-textAlign: center; 
	itemsGroup-0-paddingLeft: 0; 
	itemsGroup-0-paddingRight: 0; 
	group-0-borderTop: 1 solid #999999; 
	group-0-borderBottom: 1 solid #999999; 
	item-width: 75px; 
	item-fontFamily: Arial, Helvetica, sans-serif; 
	item-borderBottom: 1px solid #999999; 
	item-color: #000000; 
	item-fontSize: 10px; 
	item-backgroundColor: #E9E9E9; 
	item-activeBackgroundColor: #8080AA; 
	item-activeColor: #fff; 
	item-trailBackgroundColor: #8080AA; 
	item-trailColor: #fff; 
	item-paddingLeft: 4px; 
	item-paddingRight: 4px; 
	item-paddingTop: 2px; 
	item-paddingBottom: 2px; 
	group-1-borderLeft: 1px solid #999999; 
	group-1-borderRight: 1 solid #999999; 
	group-1-borderTop: none; 
	group-2-borderLeft: 1px solid #999999; 
	group-2-borderRight: 1 solid #999999; 
	group-2-borderTop: 1 solid #999999
}

.Customer_AdminClass{
	menu-zIndex: 1; 
	menu-nextLevelIcon: <img src="/images/smblkarrowrt.gif" border="0" alt=""/>; 
	itemsGroup-0-backgroundColor: #003366; 
	itemsGroup-0-activeBackgroundColor: #E9E9E9; 
	itemsGroup-0-trailBackgroundColor: #E9E9E9; 
	itemsGroup-0-color: #FFFFFF; 
	itemsGroup-0-activeColor: #000000; 
	itemsGroup-0-trailColor: #000000; 
	itemsGroup-0-borderBottom: none; 
	itemsGroup-0-borderRight: 1 solid #999999; 
	itemsGroup-0-borderLeft: none; 
	itemsGroup-0-paddingTop: 4px; 
	itemsGroup-0-paddingBottom: 5px; 
	itemsGroup-0-fontWeight: bold; 
	itemsGroup-0-fontSize: 11px; 
	itemsGroup-0-textAlign: center; 
	itemsGroup-0-paddingLeft: 0; 
	itemsGroup-0-paddingRight: 0; 
	group-0-borderTop: 1 solid #999999; 
	group-0-borderBottom: 1 solid #999999; 
	item-width: 75px; 
	item-fontFamily: Arial, Helvetica, sans-serif; 
	item-borderBottom: 1px solid #999999; 
	item-color: #000000; 
	item-fontSize: 10px; 
	item-backgroundColor: #E9E9E9; 
	item-activeBackgroundColor: #8080AA; 
	item-activeColor: #fff; 
	item-trailBackgroundColor: #8080AA; 
	item-trailColor: #fff; 
	item-paddingLeft: 4px; 
	item-paddingRight: 4px; 
	item-paddingTop: 2px; 
	item-paddingBottom: 2px; 
	group-1-borderTop:none;
	group-borderLeft: 1px solid #999999;
	group-borderRight:1 solid #999999;
	group-borderTop:1 solid #999999;
}


.phoenixMenu_BCClass {
	item-fontFamily: Arial, Helvetica, sans-serif; item-color: #000000; item-fontSize: 11px; item-backgroundColor: #DCD9C6; item-paddingLeft: 25px; item-paddingRight: 3px; item-paddingTop: 5px; item-paddingBottom: 5px; item-fontWeight: bold; itemsGroup-0-item-last-backgroundColor: #666666; itemsGroup-0-item-last-textDecoration: underline; itemsGroup-0-item-last-color: #fff; itemsGroup-0-item-last-borderBottom: #DCD9C6 1px solid; itemsGroup-0-item-last-paddingLeft: 20px; itemsGroup-0-item-last-paddingRight: 20px; itemsGroup-1-fontSize: 11px; itemsGroup-1-fontWeight: normal; itemsGroup-1-color: #000000; itemsGroup-1-paddingLeft: 7px; itemsGroup-1-paddingTop: 2px; itemsGroup-1-paddingBottom: 2px; itemsGroup-1-borderBottom: #DCD9C6 1px solid; itemsGroup-1-borderLeft: #DCD9C6 1px solid; itemsGroup-1-borderRight: #DCD9C6 1px solid; itemsGroup-1-backgroundColor: #E6E6E6
}
.findtxt_R2 {
	PADDING-RIGHT: 15px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
.findtxt {
	PADDING-RIGHT: 15px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
.bcinact2_R2 {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dcd9c6; TEXT-ALIGN: center
}
TD.menuLevel0_left {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
TD.menuLevel0_center {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
TD.menuLevel0_right {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #003366
}
A.menuLinkLevel0 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel0:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel0:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel0:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
TD.menuLevel1_left {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dcd9c6
}
TD.menuLevel1_center {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dcd9c6
}
TD.menuLevel1_right {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dcd9c6
}
TD.menuLevel1_left {
	WIDTH: 12px
}
A.menuLinkLevel1 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel1:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel1:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel1:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
TD.menuLevel2_left {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.menuLevel2_center {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.menuLevel2_right {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A.menuLinkLevel2 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel2:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel2:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel2:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
TD.menuLevel3_left {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.menuLevel3_center {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.menuLevel3_right {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A.menuLinkLevel3 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel3:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel3:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.menuLinkLevel3:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.menuLevel0_top {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: middle; WIDTH: 148px; COLOR: #000000; LINE-HEIGHT: 2
}
.menuLevel1_top {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: middle; WIDTH: 148px; COLOR: #000000; LINE-HEIGHT: 2
}
.menuLevel2_top {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: middle; WIDTH: 148px; COLOR: #000000; LINE-HEIGHT: 2
}
.menuLevel3_top {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: middle; WIDTH: 148px; COLOR: #000000; LINE-HEIGHT: 2
}
.menuLevel0_top {
	BACKGROUND-IMAGE: url(/images/menuLevel0_top.gif)
}
.menuLevel1_top {
	BACKGROUND-IMAGE: url(/images/menuLevel1_top.gif); BACKGROUND-COLOR: #b4b4b4
}
.menuLevel2_top {
	BACKGROUND-IMAGE: url(/images/menuLevel2_top.gif); BACKGROUND-COLOR: #e5e5e5
}
.menuLevel3_top {
	BACKGROUND-IMAGE: url(/images/menuLevel3_top.gif); BACKGROUND-COLOR: #e5e5e5
}
.activeTopicCaption {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #666666
}
.activeTopicCaption .txtBold {
	COLOR: #fff
}
TD.selectTab A.selectTab:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.selectTab A.selectTab:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.selectTab A.selectTab:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.selectTab A.selectTab:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.selectTab A.selectTab:hover {
	COLOR: #000000
}
TD.currentTab .boldWhiteText {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial,helvetica,sans-serif
}
A.txtBold:hover {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.txtBold:visited {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.headerCell A.txtBold {
	COLOR: #ffffff
}
.headerCell A {
	COLOR: #ffffff
}
.resultsRowA A.txtBold {
	COLOR: #000000
}
.resultsRowB A.txtBold {
	COLOR: #000000
}
.resultsRowC A.txtBold {
	COLOR: #000000
}
.resultsRowD A.txtBold {
	COLOR: #000000
}
TD.footerleft {
	FONT: 11px/11px arial
}
TD.brandingFooterDefault {
	FONT-SIZE: 11px; COLOR: #fff
}
A.brandingFooterDefault:link {
	FONT-SIZE: 11px; COLOR: #fff
}
A.brandingFooterDefault:visited {
	FONT-SIZE: 11px; COLOR: #fff
}
A.txtBold {
	FONT-SIZE: 11px
}
TD.txtBold {
	FONT-SIZE: 11px
}
BODY {
	FONT-WEIGHT: normal; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-WEIGHT: normal; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV {
	FONT-WEIGHT: normal; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
B {
	FONT-WEIGHT: bold; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#logosDiv {
	FLOAT: left
}
#globalnavDiv {
	MARGIN-TOP: 3px; FLOAT: right
}
.gnav {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial,Helvetica,sans-serif; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
A.globalnav:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666; TEXT-DECORATION: none
}
A.globalnav:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666; TEXT-DECORATION: none
}
A.globalnav:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #f30; TEXT-DECORATION: none
}
.actif {
	COLOR: #f30
}
.tableSpacer {
	BACKGROUND-COLOR: #fff
}
.headerCell {
	BACKGROUND-COLOR: #003366
}
.headerCell .txtBold {
	COLOR: #ffffff
}
.resultsTable {
	BACKGROUND-COLOR: #666
}
.resultsRowA {
	BACKGROUND-COLOR: #fff
}
.resultsRowB {
	BACKGROUND-COLOR: #eee
}
.resultsRowC {
	BACKGROUND-COLOR: #fff
}
.resultsRowD {
	BACKGROUND-COLOR: #ff0
}
.resultsRowA A {
	COLOR: #000000
}
.resultsRowB A {
	COLOR: #000000
}
.resultsRowC A {
	COLOR: #000000
}
.resultsRowD A {
	COLOR: #000000
}
.headerCellB {
	BACKGROUND-COLOR: #a9a9a9
}
.txtBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.headerCellB .txtBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.headerCell {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txtRegular {
	COLOR: #000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.txtRegular {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.fastfind {
	BACKGROUND-COLOR: #003366
}
.fastfind .txtBold {
	COLOR: #fff
}
.currentTab {
	BACKGROUND-COLOR: #003366
}
TD.selectTab {
	BACKGROUND-COLOR: #ffffff
}
.topWelcomeArea {
	COLOR: #fff; HEIGHT: 28px; BACKGROUND-COLOR: #36c
}
.legalFooter {
	BACKGROUND-COLOR: #36c
}
.txtRed {
	FONT-SIZE: 11px; COLOR: red
}
.userRole {
	COLOR: #039
}
.fineright {
	COLOR: #666; TEXT-ALIGN: right
}
.footerLinks {
	COLOR: #555555
}
A.footerLinks {
	COLOR: #555555
}
A.footerLinks:hover {
	COLOR: #555555
}
.areahedbg {
	FONT-SIZE: 12px; BACKGROUND: #dcd9c6; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.stripe1bg {
	BACKGROUND: #003366
}
.stripe2bg {
	BACKGROUND: #e6e6e6
}
.stripe3bg {
	BACKGROUND: #666699
}
.logobg {
	BACKGROUND: #dcd9c6
}
