<!-- starts course-list -->
<script src="courses-list.component.spec.ts"></script>
<div class="row">
  <!-- starts course-list-item -->
  <div class="list">
    <app-courses-list-item *ngFor="let item of ListItems"
                           [listItem]="item"
                           (deleteCourse)="onChangeId($event)"></app-courses-list-item>
  </div>
  <button class="btn btn-full btn-secondary bt-delete" (click)="onHandleclick()"><i class="fa fa-download" aria-hidden="true"></i>  LOAD MORE</button>
</div>
<!-- ends course-list -->
